{% extends 'articles/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center justify-content-center">
                <h2 class="mt-4 oranged">Страница не найдена</h2>
                <h4 class="mt-4">Видимо, вы хотели открыть несуществующую страницу</h4>
                <div class="row mt-5">
                    <div class="col-12 mt-4">
                        <a class='btn btn-primary mt-3 mb-1'
                           href="{% url 'index' %}">
                            На главную </a>
                    </div>
                </div>
            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}
