{% extends 'moderation/moderation-base.html' %}
{% load static %}

{% block content %}
    <!-- Подключение XDSoft DateTimePicker-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <div id="layoutSidenav_content">
        <main>

            <!-- Вывод сообщений формы-->
            <div>
                <ul class="errorlist">
                    {% if messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% for message in messages %}
                                <div{% if message.tags %}
                                    class="{{ message.tags }} mt-2"{% endif %}>{{ message|escape }}</div>
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </ul>
            </div>

            <!-- Форма назначения бана -->
            <form action="{% url 'moderation:moderation_user_ban' habruser.uuid %}" method="post">
                {% csrf_token %}

                <div class="container-fluid text-center">
                    <h3 class="mt-4 text-center">{% block title %}{{ title }}{% endblock %}
                        <b>{{ habruser.username }}</b></h3>
                    <div class="row justify-content-center">

                        {% if habruser.banned_until %}
                            <div class="card-user shadow-lg border-0 rounded-lg mt-3 w-50">
                                <div class="card-header-user header-h2 mt-2">
                                    Разбанить пользователя {{ habruser }}?
                                </div>
                                <div class="card-body justify-content-center">
                                    <div class="row form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <div class="col-12">
                                            <input type="button" class="btn btn-secondary btn-block"
                                                   onclick="window.location.href = '{% url 'moderation:moderation_users' %}';"
                                                   value="Отмена"/>
                                        </div>
                                        <div class="col-12">
                                            <input class="btn btn-outline-dark btn-orange btn-block" type="submit"
                                                   value="Разбанить">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="card-user shadow-lg border-0 rounded-lg mt-3 w-50">
                                <div class="card-header-user header-h2 mt-2">
                                    Введите дату окончания бана
                                </div>
                                <div class="card-body justify-content-center">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputEmailAddress">Дата окончания бана</label>
                                        {{ form.banned_until }}
                                    </div>
                                    <div class="row form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <div class="col-12">
                                            <input type="button" class="btn btn-secondary btn-block"
                                                   onclick="window.location.href = '{% url 'moderation:moderation_users' %}';"
                                                   value="Отмена"/>
                                        </div>
                                        <div class="col-12">
                                            <input class="btn btn-outline-dark btn-orange btn-block" type="submit"
                                                   value="Сохранить">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </form>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>

    <!-- Скрипт для работы виджета XDSoft DateTimePicker-->
    <script>
        $(function () {
            $("#id_banned_until").datetimepicker({
                format: 'd/m/Y H:i',
            });
        });
    </script>

{% endblock %}
