{% extends 'moderation/moderation-base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>

            <!-- Вывод сообщений формы-->
            <div>
                <ul class="errorlist">
                    {% if messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% for message in messages %}
                                <div{% if message.tags %}
                                    class="{{ message.tags }} mt-2"{% endif %}>{{ message|escape }}</div>
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </ul>
            </div>

            <div class="container-fluid" id="update_users_catcher">
                <h1 class="mt-4 text-center">Пользователь <b>{{ habruser.username }}</b>
                </h1>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-5">
                            <img class="rounded-circle mt-2" width="150px"
                                 src="{% if habruser.avatar %} {{ habruser.avatar.url }}
                             {% else %} {% static 'vendor/img/default.png' %} {% endif %}"
                                 alt="">
                        </div>
                        <div class="col-7 mt-2 text-left">
                            <div class="row mt-2">
                                <div class="col-6">Имя:</div>
                                <div class="col-6">{{ habruser.last_name }}</div>
                                <div class="col-6">Фамилия:</div>
                                <div class="col-6">{{ habruser.first_name }}</div>
                                <div class="col-6">Email:</div>
                                <div class="col-6">{{ habruser.email }}</div>
                                <div class="col-6">Возраст:</div>
                                <div class="col-6">{{ habruser.age }}</div>
                                <div class="col-6">Присоединился:</div>
                                <div class="col-6">{{ habruser.registration_time | date:"d E Y" }}</div>
                                <div class="col-6">Статус:</div>
                                <div class="col-6">
                                    {% if habruser.is_superuser %}Администратор
                                    {% elif habruser.is_staff %}Модератор
                                    {% else %}Пользователь
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <div class="row">
                                <div class="col-6">
                                    <input type="button" class="btn btn-dark btn-block"
                                           onclick="window.location.href = '{% url 'moderation:moderation_user_ban' habruser.uuid %}';"
                                           value="{% if habruser.banned_until %}Разбанить{% else %}Забанить{% endif %}"/>
                                </div>
                                <div class="col-6">
                                    <form action="{% url 'moderation:moderation_user_delete' habruser.uuid %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input class="btn btn-dark btn-block" type="submit"
                                               value="{% if habruser.is_active %}Деактивировать{% else %}Активировать{% endif %}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}
