{% extends 'moderation/moderation-base.html' %}
{% load static %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center">
                <h1 class="mt-4">{% block title %}{{ title }}{% endblock %}</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="text-left">
                            <li>Для перехода к пользователю - клик на никнейме</li>
                        </ul>
                    </div>
                    <div>
                        <div class="card-body">

                            {% include 'moderation/includes/table-users.html' %}

                        </div>
                    </div>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                            <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3
                            {% if page_obj.has_previous %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"
                               href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}
                            {% else %} # {% endif %}"
                               tabindex="-1" aria-disabled="true"><i class="fas fa-backward"></i></a>
                        </li>
                        {% for page in page_obj.paginator.page_range %}
                            <li class="page-item">
                                <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3 btn-grey dark-grey"
                                   href="?page={{ page }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                            <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3
                            {% if page_obj.has_next %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"
                               href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                               {% else %} # {% endif %}"><i class="fas fa-forward"></i></a>
                        </li>
                    </ul>
                </nav>

            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}