.btn-grey, label.active {
    background: #DCDCDC !important;
    color: #211f1c !important;
    outline: none;
}

.btn-grey:hover {
    background: #A9A9A9 !important;
    color: black !important;
}

.btn-grey-disabled {
    background: #DCDCDC !important;
    color: #A9A9A9 !important;
    outline: none;
}

.grey:hover {
    color: #DCDCDC !important;
}

a:hover {
    color: #DCDCDC !important;
}


.dark-grey:hover {
    color: #5c5a58 !important;
}

.dark-grey {
    color: #211f1c !important;
}

.border-grey {
    border-color: #211f1c !important;
    box-shadow: black;
}

.background-light-grey {
    background: #DCDCDC !important;
    box-shadow: black;
}

/*размер шрифта в зависимости от размера экрана устройства*/
body {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }

}

@media (min-width: 992px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}

.menu-font {
    font-size: 1.5vw !important;
}

.underlined h4:after, h6:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: #211f1c;
    top: -20%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.underlined h4:before, h6:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: #211f1c;
    top: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.placeholders-text {
    font-size: 1.2vw;
}

.small-text {
    font-size: 1.3vw !important;
}

div.martor-preview .highlight pre,
div.martor-preview pre {
    border: 1px solid #d3daea !important;
    background-color: #e9e9e9 !important;
}

div.martor-preview blockquote {
    border-left: 4px solid #a0aabf !important;
    font-style: italic !important;
    color: #a0aabf !important;
}

div.martor-preview a {
    color: #a0aabf !important;
    text-decoration: underline !important;
}

div.martor-preview code {
    color: #c7254e !important;
}

ul.martor-preview .highlight pre,
ul.martor-preview pre {
    border: 1px solid #d3daea !important;
    background-color: #e9e9e9 !important;
}

ul.martor-preview blockquote {
    border-left: 4px solid #a0aabf !important;
    font-style: italic !important;
    color: #a0aabf !important;
}

ul.martor-preview a {
    color: #a0aabf;
    text-decoration: underline;
}

ul.martor-preview code {
    color: #c7254e !important;
}

.no-active {
    background: #95999c;
}

.site-staff {
    background: #80bdff;
}

.banned {
    background: #cf867e;
}

.checkbox-block {
    background: lightgrey;
}

/* Double-sized Checkboxes */
input[type=checkbox] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}

/* Checkbox text */
.checkboxtext {
    font-size: 110%;
    display: inline;
}

.btn-rounded {
    border-radius: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
}

.post-wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-item {
    padding: 10px;
}

.post-item-wrap {
    background: #F7F7F2;
    position: relative;
}

.post-item-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #5c5a58;
    transform: rotate(1deg);
    transform-origin: left bottom;
    transition: .3s ease-in-out;
}

.post-item-wrap:hover:after {
    top: 5px;
    left: 5px;
    transform: rotate(2deg);
}

.post-link {
    text-decoration: none;
    display: block;
    padding: 30px;
}

.post-title {
    color: #33261D;
    margin-bottom: 15px;
    transition: .3s ease-in-out;
}

.post-item-wrap:hover .post-title {
    color: #5c5a58;
}

.post-content {
    color: #A69888;
    font-size: 14px;
}

@media (min-width: 768px) {
    .post-item {
        flex-basis: 50%;
        flex-shrink: 0;
    }
}

@media (min-width: 960px) {
    .post-item {
        flex-basis: 33.333333333%;
    }
}

.comment_header {
    background-color: #e7f3ff;
}

.no-marker li::marker {
    color: rgb(255, 255, 255);
}

.comment-anchor {
    padding-top: 55px;
    margin-top: -55px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

blockquote.mt-1 {
    margin: 0;
    background: #A9A9A9;
    color: #131314;
    padding: 30px 30px 30px 90px;
    position: relative;
    font-family: 'Lato', sans-serif;
}

blockquote.mt-1::before {
    content: "\0021";
    font-family: serif;
    position: absolute;
    top: 20px;
    left: 16px;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

blockquote.mt-1::after {
    content: "";
    width: 4px;
    background: white;
    position: absolute;
    left: 70px;
    top: 20px;
    bottom: 20px;
}

blockquote.mt-1 p {
    margin-top: 0;
    font-size: 18px !important;
    font-weight: 300;
}

blockquote.mt-1 cite {
    font-style: normal;
    text-transform: uppercase;
}

.card-margin {
    margin-top: 25px;
    margin-bottom: 25px;
}

.comment_submit_link{
    color: #a0aabf;
    text-decoration: none !important;
}

div.martor-preview p{
    font-size: 16px !important;
}

form.like-trash-buttons a{
    color: #000000 !important;
    text-decoration: none !important;
}

div.inline-buttons{
    display: inline-block !important;
}

div.card-body {
    font-size: 20px !important;
}
