{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {#                {{ edit_form.as_p }}#}
                {#                {{ profile_form.as_p }}#}
                <div class="container-fluid text-center">
                    <h3 class="mt-4">Редактировать аккаунт</h3>
                    <div class="row justify-content-center">
                        <div class="card-user shadow-lg border-0 rounded-lg mt-3 w-50">
                            <div class="card-header-user header-h2 mt-2">
                                Измените нужные данные
                            </div>
                            <div class="card-body justify-content-center">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1"
                                                   for="{{ edit_form.username.id_for_label }}">Логин</label>
                                            {{ edit_form.username }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1"
                                                   for="{{ edit_form.password.id_for_label }}">Пароль</label>
                                            {{ edit_form.password }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputUsername">Имя</label>
                                        {{ edit_form.first_name }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="{{ edit_form.email.id_for_label }}">
                                            Email</label>
                                        {{ edit_form.email }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="{{ edit_form.age.id_for_label }}">
                                                Возраст</label>
                                            {{ edit_form.age }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="{{ profile_form.gender.id_for_label }}">
                                                Пол</label>
                                            {{ profile_form.gender }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="{{ edit_form.avatar.id_for_label }}">
                                                Выбрать аватар</label>
                                            {{ edit_form.avatar }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="small mb-1" for="{{ profile_form.aboutMe.id_for_label }}">
                                                О себе</label>
                                            {{ profile_form.aboutMe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input class="btn btn-primary gradient btn-block" type="submit"
                                           value="Сохранить изменения">
                                    <a href="{% url 'index' %}" class="btn btn-outline-secondary btn-block"
                                       role="button">
                                        На Главную
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <input class="btn btn-outline-primary btn-block" type="submit" value="Сохранить">#}
            </form>

            {#{% if user.avatar %}#}
            {#<div class="user_avatar"><img src="{{ media_url }}{{ user.avatar }}"></div>#}
            {#{% endif %}#}
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}