{% extends 'articles/base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <form id="image-forms" action="{% url 'auth:update_images' object.slug %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container-fluid text-center">
                    <h3 class="mt-4">{% block title %}{{ title }}{% endblock %}</h3>

                    <!-- Здесь можно размещать сообщения для пользователя (ошибки, уведомления) -->
                    {% if messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% for message in messages %}
                                <div{% if message.tags %}
                                    class="{{ message.tags }}"{% endif %}>{{ message|escape }}</div>
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    {% if form.non_field_errors %}
                        <li>{{ form.non_field_errors }}</li>
                    {% endif %}
                    {% for field in form %}
                        {% if field.errors %}
                            <div class="card-body border border-grey text-left">
                                <div><i class="fa fa-warning"></i> Ошибки заполнения формы:</div>
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div id="form-container" class="row justify-content-center">

                        <!-- Форма изменения картинки -->
                        <div class="col-6 image-form">
                            <div class="shadow-lg border-0 rounded-lg m-3">
                                <div class="header-h2">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="small mb-1"
                                                   for="{{ form.file_name.id_for_label }}">Заголовок
                                                картинки</label>
                                            {{ form.file_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="justify-content-center">
                                    <div class="form-row mb-4">

                                        <div class="col-12 mb-4">
                                            <img src="{% if picturefile.picture_file %} {{ picturefile.picture_file.url }} {% else %} {% static 'vendor/img/no_image.png' %} {% endif %}"
                                                 height="300vh" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-grey btn-outline-info btn-block" type="submit">Отредактировать</button>
                        <button class="btn btn-outline-secondary btn-block" type="button"
                                onClick="javascript:history.go(-1);">Отмена
                        </button>
                    </div>
                </div>

            </form>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}