{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>

            <!-- Вывод сообщений формы-->
            <div>
                <ul class="errorlist">
                    {% if messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% for message in messages %}
                                <div{% if message.tags %}
                                    class="{{ message.tags }} mt-2"{% endif %}>{{ message|escape }}</div>
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </ul>
            </div>

            <div class="container-fluid text-center">
                <h1 class="mt-4">
                    {% block title %}{{ title }}{% endblock %}
                </h1>
                <div class="row row-cols-5 justify-content-center mt-4">
                    <div class="col">
                        <a class="btn btn-block btn-primary"
                           href="{% url 'auth:profile' habruserprofile.uuid %}">
                            <span class="small-text">Обо мне</span></a>
                    </div>
                    <div class="col">
                        <a class="btn btn-block btn-primary"
                           href='{% url 'auth:published_user_articles' habruserprofile.uuid %}'>
                            <span class="small-text">Мои статьи</span></a>
                    </div>
                    <div class="col">
                        <a class="btn btn-block btn-primary"
                           href="{% url 'auth:user_comments' habruserprofile.uuid %}"><span class="small-text">Мои комментарии</span></a>
                    </div>
                    <div class="col">
                        <a class="btn btn-block btn-primary"
                           href="{% url 'auth:user_images' habruserprofile.uuid %}">
                            <span class="small-text">Мои картинки</span></a>
                    </div>
                    <div class="col">
                        <a class="btn btn-block btn-primary"
                           href='{% url 'auth:user_messages' habruserprofile.uuid %}'>
                            <span class="small-text">Мои сообщения</span></a>
                    </div>
                </div>

                <div class="row justify-content-center text-left mt-1 mb-1 row-flex" id="profile-content">
                    {% block profile-content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}
