{% extends 'articles/base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <form id="image-forms" action="{% url 'auth:load_images' request.user.uuid %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container-fluid text-center">
                    <h3 class="mt-4">{% block title %}{{ title }}{% endblock %}</h3>
                    {{ image_formset.management_form }}

                    <!-- Здесь можно размещать сообщения для пользователя (ошибки, уведомления) -->
                    {% if messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% for message in messages %}
                                <div>
                                    {% if message.tags %}
                                    class="{{ message.tags }}"
                                    {% endif %}
                                    {{ message|escape }}</div>
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    {% if image_formset.non_field_errors %}
                        <li>{{ image_formset.non_field_errors }}</li>
                    {% endif %}
                    {% for field in image_formset %}
                        {% if field.errors %}
                            <div class="card-body border border-grey text-left">
                                <div><i class="fa fa-warning"></i> Ошибки заполнения формы:</div>
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div id="form-container" class="row justify-content-center">


                        {% for form in image_formset %}

                            <!-- Форма добавления картинки -->
                            <div class="col-6 image-form">
                                <div class="shadow-lg border-0 rounded-lg m-3">
                                    <div class="header-h2">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="small mb-1"
                                                       for="{{ form.file_name.id_for_label }}">Заголовок
                                                    картинки</label>
                                                {{ form.file_name }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="justify-content-center">
                                        <div class="form-row">

                                            <div class="col-12">
                                                <img id="new_image_{{ forloop.counter }}"
                                                     src="{% static 'vendor/img/no_image.png' %}" height="130vh" alt="">
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="small mb-1"
                                                           for="{{ form.picture_file.id_for_label }}">Файл
                                                        картинки</label>
                                                    {{ form.picture_file }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button id="add-form" class="btn btn-dark btn-block" type="button">
                            Добавить еще картинку
                        </button>
                        <button class="btn btn-grey btn-outline-info btn-block" type="submit">Загрузить</button>
                        <button class="btn btn-outline-secondary btn-block" type="button"
                        onClick="javascript:history.go(-1);">Отмена</button>
                    </div>
                </div>

            </form>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>


    <script>
        let forms_counter = document.querySelectorAll(".image-form").length

        /**
         * Gets the data of the uploaded image and adds its preview.
         */
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                let form_number = Number(input.id.replace(/[^0-9]/g, ""));
                form_number++;
                let picture_id = '#new_image_' + form_number

                reader.onload = function (e) {
                    $(picture_id).attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        window.addEventListener('load', (e) => {
            e.preventDefault()

            /**
             * Adds another form for uploading an image.
             */
            $('#image-forms').on('click', '#add-form', (e) => {
                e.preventDefault()
                let imageForm = document.querySelectorAll(".image-form")
                let container = document.querySelector("#form-container")
                let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
                let formNum = imageForm.length - 1

                let newForm = imageForm[0].cloneNode(true)
                forms_counter++;
                newForm.querySelector('img').id = 'new_image_' + forms_counter;
                newForm.querySelector('img').src = "{% static 'vendor/img/no_image.png' %}"

                let formRegex = RegExp(`form-(\\d){1}-`, 'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.append(newForm)
                totalForms.setAttribute('value', `${formNum + 1}`)
            });
        });
    </script>

{% endblock %}
