{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <form action="" method="post">
                {% csrf_token %}

                <!-- Здесь можно размещать сообщения для пользователя (ошибки, уведомления) -->
                <div class="staff">
                    <ul class="errorlist">
                        {% if messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                 style="margin-top: 50px;">
                                {% for message in messages %}
                                    <div{% if message.tags %}
                                        class="{{ message.tags }}"{% endif %}>{{ message|escape }}</div>
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        {% if form.non_field_errors %}
                            <li>{{ form.non_field_errors }}</li>
                        {% endif %}
                        {% for field in form %}
                            {% if field.errors %}
                                <li>
                                    {{ field.label }}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <!-- Форма авторизации -->
                <div class="container-fluid text-center">
                    <h3 class="mt-4">{% block title %}{{ title }}{% endblock %}</h3>
                    <div class="row justify-content-center">
                        <div class="card-user shadow-lg border-0 rounded-lg mt-3 w-50">
                            <div class="card-header-user header-h2 mt-2">
                                Введите логин и пароль
                            </div>
                            <div class="card-body justify-content-center">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputEmailAddress">Имя пользователя</label>
                                    {{ login_form.username }}
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Пароль</label>
                                    {{ login_form.password }}
                                </div>
                                <div class="row form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <div class="col-12">
                                        <input class="btn btn-dark btn-block" type="submit" value="Войти">
                                        <br>
                                    </div>
                                    
                                    <div class="col-12">
                                        <a href="{% url 'social:begin' 'vk-oauth2' %}?next=/"
                                            class="btn btn-grey btn-outline-dark btn-block"
                                            role="button">
                                            Войти <i class="fa fa-vk" aria-hidden="true"></i> VK
                                        </a>
                                    </div>
                                    <div class="col-12">
                                        <a href="{% url 'social:begin' 'github' %}?next=/"
                                           class="btn btn-grey btn-outline-dark btn-block"
                                           role="button">
                                            Войти <i class="fa fa-github" aria-hidden="true"></i> GitHub
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="list-group-horizontal card-footer text-center">
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'auth:password_reset' %}">Забыли пароль?</a>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'auth:register' %}">Нужен аккаунт? Зарегистрируйся!</a>
                    </div>
                </div>
            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}