{% extends 'articles/base.html' %}

{% load i18n static %}
{% load static %}


{% block content %}
<div id="layoutSidenav_content">
    <div class="container-fluid text-center">
        {% if validlink %}
        <h2 class="mt-4 mb-4">Введите новый пароль</h2>
        <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <input style="display:none;" autocomplete="username" value="{{ form.user.get_username }}">
            <div>
                {{ form.new_password1.errors }}
                <label for="id_new_password1">{% translate 'New password:' %}</label>
                {{ form.new_password1 }}
            </div>
            <div >
                {{ form.new_password2.errors }}
                <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="{% translate 'Change my password' %}">
        </fieldset>
        </form>

        {% else %}

        <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

        {% endif %}
    </div>
</div>

{% endblock %}
