{% extends 'articles/base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <div class="container-fluid text-center">
            <h2 class="mt-4">Забыли пароль?</h2>
            <div class="row justify-content-center">
                <div class="card-user shadow-lg border-0 rounded-lg mt-3 w-50">
                    <div class="card-header-user header-h2 mt-2">
                        Введите свой email, чтобы получить новый пароль
                    </div>
                    <div class="card-body justify-content-center">
                        <div class="form-group">
                            <label class="small mb-1" for="inputEmailAddress">Email</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <p>На вашу почту будет направлено письмо со ссылкой для восстановления пароля</p>
                        </div>
                        <div class="form-group d-flex mt-4 mb-0">
                            <input class="btn btn-dark btn-block" type="submit" value="Отправить письмо">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}
