{% extends 'articles/base.html' %}
{% load static %}
{% load i18n %}



{% block content %}
<div id="layoutSidenav_content">
    <div class="container-fluid text-center">
        <h2 class="mt-4 mb-4">{{ title }}</h2>

        <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

        <p><a href="{% url 'auth:login' %}">{% translate 'Log in' %}</a></p>
    </div>
</div>
{% endblock %}
