{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <form action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Здесь можно размещать сообщения для пользователя (ошибки, уведомления) -->
                <div class="staff">
                    <ul class="errorlist">
                        {% if messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                 style="margin-top: 50px;">
                                {% for message in messages %}
                                    </div>
                                    {% if message.tags %}
                                        class="{{ message.tags }}"
                                    {% endif %}
                                    {{ message|escape }}
                                    </div>
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}

                        {% if form.non_field_errors %}
                            <li>{{ form.non_field_errors }}</li>
                        {% endif %}
                        {% for field in form %}
                            {% if field.errors %}
                                <li>
                                    {{ field.label }}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <!-- Форма регистрации -->
                <div class="container-fluid text-center">
                    <h3 class="mt-4">Создать аккаунт</h3>
                    <div class="row justify-content-center">
                        <div class="card-user shadow-lg border-0 rounded-lg mt-3 w-50">
                            <div class="card-header-user header-h2 mt-2">
                                Заполните поля формы
                            </div>
                            <div class="card-body justify-content-center">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1"
                                                   for="{{ register_form.first_name.id_for_label }}">Имя</label>
                                            {{ register_form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1"
                                                   for="{{ register_form.last_name.id_for_label }}">Фамилия</label>
                                            {{ register_form.last_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputUsername">Никнейм</label>
                                        {{ register_form.username }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="{{ register_form.email.id_for_label }}">
                                            Адрес электронной почты</label>
                                        {{ register_form.email }}
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1"
                                                   for="{{ register_form.password1.id_for_label }}">Пароль</label>
                                            {{ register_form.password1 }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1" for="{{ register_form.password2.id_for_label }}">Подтверждение
                                                пароля</label>
                                            {{ register_form.password2 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="small mb-1"
                                                   for="{{ register_form.age.id_for_label }}">Возраст</label>
                                            {{ register_form.age }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input class="btn btn-primary gradient btn-block" type="submit"
                                           value="Создать аккаунт">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-footer text-center">
                <div class="small"><a href="{% url 'auth:login' %}">Уже есть аккаунт? Авторизоваться</a>
                </div>
            </div>

        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}
