{% extends 'articles/base.html' %}
{% load static %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid text-center">
            <h2 class="mt-4 mb-4">{{ title }}</h2>
            <div class="login">
                {% if user %}
                <h3>Поздравляем!</h3>
                <br>
                <h4>Пользователь {{user.username}} подтвержден.</h4>
                {% else %}
                <h3>Верификация не пройдена.</h3>
                {% endif %}
                <br>
                <button class="btn btn-round form-control">
                    <a href="{% url 'index' %}" class="">
                        на главную
                    </a>
                </button>
            </div>
        </div>
    </main>
    {% include 'articles/includes/footer.html' %}
</div>
{% endblock %}