<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Разделы</div>

                {% for item in category_menu_items %}
                <a class="nav-link" href="{% url 'articles:category_read' item.slug %}">
                    <div class="menu-font">{{ item.category_name }}</div>
                </a>
                {% endfor %}
                
                <!-- Пункт меню Мой профиль 
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="{% url 'auth:profile' profile.uuid %}">
                        <div class="sb-nav-link-icon">
                            <i class="fa fa-user grey"></i>
                        </div>
                        Мой профиль
                    </a>
                    <a id="my_profile"></a>
                {% else %}
                    <a class="nav-link" href="{% url 'auth:login' %}">
                        <div class="sb-nav-link-icon">
                            <i class="fa fa-user grey"></i>
                        </div>
                        Авторизация на сайте
                    </a>
                {% endif %} -->

                <!-- Пункт меню перехода к админке
                {% if request.user.is_staff %}
                    <input type="button" class="btn btn-block btn-grey blacked"
                           onclick="window.location.href = '/admin';"
                           value="К админке"/>
                {% endif %} -->

                <button onClick="javascript:history.go(-1);" type="submit" class="btn btn-block btn-grey blacked">
                    <i class="fa fa-undo"></i> Назад
                </button>
            </div>

        </div>
        <div class="sb-sidenav-footer"></div>
    </nav>
</div>