{% if request.user.is_superuser %}
    <a class="dropdown-item" href="/admin">Админка</a>
{% endif %}

{% if request.user.is_authenticated %}
    <a class="dropdown-item" href="{% url 'auth:profile' user.habruserprofile.uuid %}">Личный кабинет: {{ user.username }}</a>
    <a class="dropdown-item" href="{% url 'auth:logout' %}">Выйти из профиля</a>
{% endif %}
