<div class="table-responsive">
    <table class="table table-bordered wigth-100 dtBasicExample" id="example">
        <thead>
        <tr>
            <th>Сообщение</th>
            <th>Перейти к статье</th>
            <th>Перейти к комментарию</th>
            <th>Прочитано</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Сообщение</th>
            <th>Перейти к статье</th>
            <th>Перейти к комментарию</th>
            <th>Прочитано</th>
        </tr>
        </tfoot>
        <tbody class="text-left">
        {% for message in page_obj %}
            <tr {% if message.is_read %}style="background-color: #A69888" {% endif %}>
                <td>
                    {{ message.text | safe }}
                </td>
                <td>
                    <a href="{% url 'articles:article_read' message.related_article.slug %}">
                        Переход к статье</a>
                </td>
                <td>
                    <a href="{% url 'articles:article_read' message.related_article.slug %}#{{ message.related_comment.slug }}">Перейти
                        к комментарию</a></td>
                <td><a class='btn btn-outline-dark btn-grey'
                       href='{% url 'auth:read_message' message.slug %}'>{% if message.is_read %}
                    <i class="fas fa-check">
                {% else %}<i class="fas fa-eye">{% endif %}</i>
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
