<div class="table-responsive">
    <table class="table table-bordered wigth-100 dtBasicExample" id="example">
        <thead>
        <tr>
            <th>Категория</th>
            <th>Заголовок</th>
            <th>Автор</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Категория</th>
            <th>Заголовок</th>
            <th>Автор</th>
        </tr>
        </tfoot>
        <tbody class="text-left">
        {% for article in page_obj %}
            <tr>
                <td>{{ article.article_category }}</td>
                <td>

                    {% if request.path == defaul_path %}
                        <a href="{% url 'moderation:moderation_article_detail' article.slug %}" class="admin-link">
                    {% else %}
                        <a href="{% url 'moderation:recover_article_detail' article.slug %}" class="admin-link">
                    {% endif %}

                    {{ article.title }}</a>
                </td>
                <td>{{ article.user }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
