<div class="table-responsive">
    <table class="table table-bordered wigth-100 dtBasicExample" id="example">
        <thead>
        <tr>
            <th>Персонал</th>
            <th>Никнейм</th>
            <th>Email</th>
            <th>Возраст</th>
            <th>Карма</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Персонал</th>
            <th>Никнейм</th>
            <th>Email</th>
            <th>Возраст</th>
            <th>Карма</th>
            <th>Статус</th>
        </tr>
        </tfoot>
        <tbody>
        {% for user in page_obj %}
            <tr {% if not user.is_active %} class="no-active"
            {% elif user.is_staff %} class="site-staff"
            {% elif user.banned_until %} class="banned"> {% endif %}>
                <td> {% if user.is_superuser %}<i class="fa fa-crown mr-2"></i>
                {% elif user.is_staff %}<i class="fa fa-star mr-2"></i>{% endif %}</td>
                <td>
                    <a href="{% url 'moderation:moderation_user_detail' user.uuid %}"
                       class="admin-link">
                        {{ user.username }}</a>
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.likes }}</td>
                <td>
                    {% if not user.is_active %}
                         Удален
                    {% elif user.banned_until %}
                         Бан до: {{ user.banned_until | date }}
                    {% else %}Активен
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
