{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/auth-admin.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/habr.css' %}" rel="stylesheet"/>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/lib/shortcuts/infinite.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="https://kit.fontawesome.com/2b537a4c3e.js" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}"></script>
</head>

<body class="sb-nav-fixed">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand grey" href="{% url 'index' %}">Главная</a>
    <button class="btn btn-link btn-md m-2 order-1 order-lg-0 btn-grey blacked" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form id="form_search_panel" class="d-none d-md-inline-block form-inline ml-auto mr-0
    mr-md-3 my-2 my-md-0" action="{% url 'search_view' %}" method='get'>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Поиск по статьям"
                   name="search_panel" aria-label="Search" aria-describedby="basic-addon2"
                   id="search_panel"/>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search grey"></i></button>
            </div>
        </div>
    </form>

    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle rounded btn-grey blacked" id="userDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw blacked"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <!-- Выпадающее меню авторизации -->
                {% include 'moderation/includes/inc_moder_auth.html' %}
            </div>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">

    <!-- Пункты меню панели модератора -->
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Разделы</div>
                    <a class="nav-link" href="{% url 'moderation:moderation_users' %}">
                        <div class="row">
                            <div class="col-2"><i class="fas fa-users grey"></i></div>
                            <div class="col-9">Пользователи</div>
                        </div>
                    </a>
                    <a class="nav-link" href="{% url 'moderation:moderation_articles' %}">
                        <div class="row">
                            <div class="col-2"><i class="fas fa-file-alt grey"></i></div>
                            <div class="col-8">Статьи</div>
                        </div>
                    </a>
                    <a class="nav-link" href="{% url 'moderation:moderation_calls' %}">
                        <div class="row">
                            <div class="col-2"><i class="fa fa-tasks grey"></i></div>
                            <div class="col-9">Призывы</div>
                        </div>
                    </a>
                    <button onClick="javascript:history.go(-1);" type="submit" class="btn btn-block btn-grey blacked">
                        <i class="fa fa-undo"></i> Назад
                    </button>
                </div>
            </div>
            <div class="sb-sidenav-footer"></div>
        </nav>
    </div>
    <!-- Основное содержимое страницы подгружаем сюда -->
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/auth-admin.js' %}"></script>
<script src="{% static 'js/site-actions.js' %}"></script>
</body>
</html>
