{% extends 'moderation/moderation-base.html' %}
{% load static %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center main">
                <h1 class="m-4">{% block title %}{{ title }}{% endblock %}</h1>
                <div class="mt-3 underlined">
                        <h4>Задачи на сегодня</h4>
                    </div>
                <div class="row post-wrap mt-5">
                    <div class="post-item col-12">
                        <div class="post-item-wrap">
                            <a href="{% url 'moderation:moderation_articles' %}" class="post-link">
                                <h3 class="post-title">Статей на модерации: </h3>
                                <h2 class="post-title">{{ articles_number }}</h2>
                            </a>
                        </div>
                    </div>

                    <div class="post-item col-12">
                        <div class="post-item-wrap">
                            <a href="{% url 'moderation:moderation_calls' %}" class="post-link">
                                <h3 class="post-title">Призывов модератора: </h3>
                                <h2 class="post-title">{{ active_calls }}</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}
