{% extends 'articles/base.html' %}
{% load static %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid text-center">
                <h2 class="mt-4 mb-4">Страница не найдена</h2>
                <p>Видимо вы хотели открыть несуществующую страницу</p>
                <p>Перейдите на <a class="navbar-brand grey" href="{% url 'index' %}">Главную страницу</a></p>





            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}
