{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/auth-admin.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/habr.css' %}" rel="stylesheet"/>
    {% block css %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/lib/shortcuts/infinite.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="https://kit.fontawesome.com/2b537a4c3e.js" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/fontawesome/fontawesome-icons.js' %}"></script>
</head>

<body class="sb-nav-fixed">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand grey" href="{% url 'index' %}">Главная</a>
    <button class="btn btn-link btn-md m-2 order-1 order-lg-0 btn-grey blacked" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>

    <a class="ml-auto mr-0
    my-2 navbar-brand grey menu-font" href="{% url 'help' %}">FAQ</a>

    <!-- Navbar Search -->
    <form id="form_search_panel" class="d-none d-md-inline-block form-inline ml-auto mr-0
    mr-md-3 my-2 my-md-0" action="{% url 'search_view' %}" method='get'>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Поиск по статьям"
                   name="search_panel" aria-label="Search" aria-describedby="basic-addon2"
                   id="search_panel"/>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search grey"></i></button>
            </div>
        </div>
    </form>

    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle rounded btn-grey blacked" id="userDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw blacked"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <!-- Выпадающее меню авторизации -->
                {% include 'authnapp/includes/inc_user_auth.html' %}
            </div>
        </li>
    </ul>
</nav>

<div id="layoutSidenav">

    <!-- Пункты меню (использован templatetag) -->
    {% show_categories %}

    <!-- Основное содержимое страницы подгружаем сюда -->
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/auth-admin.js' %}"></script>
<script src="{% static 'js/site-actions.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
