{% load mptt_tags %}
{% load martortags %}


<div class="col-12 text-left">
    <hr>
    {% if article.is_active == 'ACTIVE' %}
        <h2 class="menu-font text-left">
            Комментарии
            <span class="comment_submit_link">{{ comments.count }}</span>
        </h2>
        <br>
        {% if comments %}
            <ul class="no-marker martor-preview">
                {% recursetree comments %}
                    <li>
                        <p><a class="comment-anchor" name="{{ node.slug }}"></a></p>

                        <header class="comment_header">
                            {% if article.user == node.user %}<i class="fa fa-star"></i>{% endif %}
                            <b>{{ node.user }}</b>
                            {{ node.create_time }}<br>
                        </header>

                        {{ node.body | safe_markdown }}

                        <div class="btns">
                            <p class="btns">
                                <a class="comment_submit_link" data-option="{{ node.id }}"
                                   onclick="document.getElementById('comment-submit-button').focus()">
                                    Ответить
                                </a>
                            </p>
                        </div>

                        <div class="inline-buttons">
                            <form class="like-trash-buttons" id="comment_{{ node.id }}_like"
                                  action="{% url 'articles:comment_like' node.id %}" method="POST">
                                {% csrf_token %}
                                <a
                                    {% ifnotequal node.get_likes 0 %}
                                        class="fa fa-heart"
                                    {% else %}
                                        class="fa fa-heart-o"
                                    {% endifnotequal %}
                                        {% if request.user.is_authenticated and not request.user == node.user %}
                                        onclick="document.getElementById('comment_{{ node.id }}_like').submit()"
                                        {% endif %}
                                ></a>
                            </form>
                        </div>
                        <div class="inline-buttons">
                            {{ node.get_likes }}
                        </div>
                        <div class="inline-buttons ml-2">
                            {% if request.user.is_staff or request.user.uuid == node.user.uuid %}
                                <form class="like-trash-buttons" id="comment_{{ node.id }}_delete"
                                      action="{% url 'articles:comment_delete' node.id %}" method="GET">
                                    {% csrf_token %}
                                    <a id="{{ node.id }}"
                                       onclick="document.getElementById('comment_{{ node.id }}_delete').submit()">
                                        <i class="fas fa-trash-alt">
                                        </i>
                                    </a>
                                </form>
                            {% endif %}
                        </div>

                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}

                    </li>
                {% endrecursetree %}
            </ul>
        {% else %}
            <div class="menu-font text-center">
                Здесь пока нет ни одного комментария, вы можете стать первым!
            </div>
        {% endif %}
    {% endif %}

    <form type="submit" method="post">
        {% csrf_token %}
        {% if request.user.is_authenticated  and article.is_active == 'ACTIVE' %}
            {% if request.user.banned_until == None %}
                <b>Ваш комментарий</b><br><br>
                {{ comment_form.body }}<br>
                <!--
          <div>Родительская статья:
            {{ comment_form.comment_article }}<br>
          </div>
          -->
                <div hidden>Родительский комментарий:
                    {{ comment_form.parent }}<br>
                </div>

                <button id="comment-submit-button" class="col-2 btn btn-dark btn-block">
                    Отправить
                </button>
            {% else %}
                <div class="menu-font text-center">
                    Вы не можете оставлять комментарии по причине бана до: {{ request.user.banned_until }}
                </div>
            {% endif %}
        {% endif %}

    </form>
</div>
