{% extends 'articles/base.html' %}
{% load static %}
{% load martortags %}

{% block title %}
    Удаление комментария
{% endblock %}

{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <form action="{% url 'articles:comment_delete' comment.id %}" method="post" id="confirm_delete_form">
                {% csrf_token %}
                <div class="col-12 text-center">
                    <div class="text-center">
                        <h2>Вы уверены, что хотите удалить следующий комментарий?</h2>
                            <div class="col-12 mt-5 martor-preview text-left">
                                <header class="comment_header">
                                    <b>{{ comment.user }}</b>
                                    {{ comment.create_time }}<br>
                                </header>
                                {{ comment.body | safe_markdown }}
                            </div>

                    </div>
                    <div class="row">
                        <div class="col-5"></div>
                        <input class="col-2 btn btn-dark" id="delete-comment-yes" type="button" value="Да">
                        <div class="col-5 text-left">
                            <p>
                                <input class="custom-checkbox"
                                       {% if request.user.is_staff and not request.user == comment.user %}
                                       type="checkbox"
                                       {% else %}
                                       type="hidden"
                                       {% endif %}
                                       id="ban">
                                <label class="checkboxtext ml-1" for="ban"
                                {% if not request.user.is_staff or request.user == comment.user %}
                                    style="display: none;"
                                        {% endif %}
                                >Бан</label>
                            </p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5"></div>
                        <a href="{% url 'articles:article_read' article.slug %}" class="col-2 btn btn-dark"
                           role="button">Нет</a>
                        <div class="col-5"></div>
                    </div>
                </div>
            </form>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function (i, block) {
            hljs.highlightBlock(block);
        });
        window.addEventListener('load', (e) => {
            $('#delete-comment-yes').on('click', function (e) {
                e.preventDefault();
                let ban_check = document.getElementById('ban');
                let confirm_delete_form = $("#confirm_delete_form")
                if (ban_check.checked === true) {
                    let input = $("<input>").attr("type", "hidden").attr("name", "is_banned").val("true");
                    confirm_delete_form.append(input);
                    confirm_delete_form.submit()
                } else {
                    confirm_delete_form.submit()
                }
            });
        })
    </script>
{% endblock %}