{% extends 'articles/base.html' %}
{% load static %}

{% block title %} Помощь {% endblock %}

{% block css %}
    <link href="{% static 'css/habr.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="text-center"><h2>F.A.Q.</h2></div>
                <div class="card card-margin">
                    <div class="card-header text-center">
                        <h5>Содержание</h5>
                        <a name="top"></a>
                    </div>
                    <div class="card-body menu-font">
                        <ol>
                            <li>
                                <a href="#register">
                                    Регистрация и авторизация
                                </a>
                            </li>
                            <li>
                                <a href="#profile">
                                    Личный кабинет
                                </a>
                            </li>
                            <li>
                                <a href="#article_creating">
                                    Как создать статью
                                </a>
                            </li>
                            <li>
                                <a href="#article_moderating">
                                    Модерация статей
                                </a>
                            </li>
                            <li>
                                <a href="#likes_comments">
                                    Лайки и комментарии
                                </a>
                            </li>
                            <li>
                                <a href="#calling">
                                    Призыв модератора или другого пользователя
                                </a>
                            </li>
                            <li>
                                <a href="#ban">
                                    Бан пользователей
                                </a>
                            </li>
                            <li>
                                <a href="#rules">
                                    Правила поведения на сайте
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="card-header text-center">
                    <a name="register"></a>
                    <h5>Регистрация и авторизация</h5>
                </div>
                <div class="card-body menu-font">
                    На нашей платформе вы можете просматривать статьи и комментарии к ним без регистрации.
                    Однако, чтобы иметь возможность добавить свою статью, вам потребуется собственный аккаунт.
                    Перейдите на <a href="{% url 'auth:register' %}">страницу регистрации</a>, заполните все поля
                    и нажмите кнопку "Создать аккаунт".
                </div>
                <blockquote class="mt-1 mb-1">
                    <p>Вы можете использовать для регистрации и авторизации ваши аккаунты ВКонтакте или GitHub.
                        В этом случае сразу перейдите к <a href="{% url 'auth:login' %}">странице авторизации</a>.
                    </p>
                </blockquote>
                <div class="card-body menu-font">
                    Вы получите на свою электронную почту письмо со ссылкой для активации вашего аккаунта. Перейдите
                    по ней, чтобы активировать свой аккаунт и верифицировать электронную почту. После этого вы
                    сможете авторизоваться и использовать свой персональный аккаунт.
                </div>
                <blockquote class="mt-1 mb-1">
                    <p>Ссылка для активации действует 48 часов, если за это время вы не
                        активировали ваш аккаунт, вам придется пройти повторную регистрацию.</p>
                </blockquote>
                <div class="card-body menu-font">
                    <p>Для входа на сайт используйте <a href="{% url 'auth:login' %}">страницу авторизации</a>.
                        Если вы забудете свой пароль, у вас есть возможность восстановить его, используя
                        <a href="{% url 'auth:password_reset' %}">страницу восстановления пароля</a>.
                    </p>
                </div>
                <div class="mt-3 text-right"><a href="#top">К содержанию</a></div>

                <div class="card-header text-center">
                    <a name="profile"></a>
                    <h5>Личный кабинет</h5>
                </div>
                <div class="card-body menu-font">
                    В правом верхнем углу меню расположена кнопка выпадающего меню, где вы можете
                    перейти в свой личный кабинет, войти в свой аккаунт или выйти из него. В личном
                    кабинете есть 5 основных разделов:
                    <ul>
                        <li>Обо мне</li>
                        <li>Мои статьи</li>
                        <li>Мои комментарии</li>
                        <li>Мои картинки</li>
                        <li>Мои сообщения</li>
                    </ul>
                    <h6 class="text-center mt-3"><strong>Обо мне</strong></h6>
                    В этом разделе вы можете просмотреть и отредактировать информацию о своем профиле.
                    Воспользуйтесь кнопкой "Редактировать", чтобы перейти к форме, где вы можете изменить
                    свои данные, добавить аватар, заполнить раздел "О себе".
                    <h6 class="text-center mt-3"><strong>Мои статьи</strong></h6>
                    В этом разделе представлены все статьи, созданные вами. В четырех подразделах: Черновики,
                    На модерации, Отклоненные и Опубликованные содержат статьи соответствующего статуса. Кнопка
                    "Создать статью" позволяет перейти к написанию новой статьи. После отправки черновика на модерацию
                    персонал нашей платформы примет решение о публикации вашей статьи или ее отклонении, если контент
                    не соответствует критериям, с которыми можно ознакомиться в разделе <a href="#article">Публикация
                    статьи</a>. При отклонении статьи вы получите новое сообщение с указанием причин отклонения.
                    Отредактируйте статью и снова направьте ее на публикацию. В итоге одобренная статья будет находиться
                    в списке раздела "Опубликованные", где также будет показано количество лайков, которые ей поставят
                    другие пользователи.
                    <h6 class="text-center mt-3"><strong>Мои комментарии</strong></h6>
                    В разделе Мои комментарии два подраздела, в которых вы можете увидеть комментарии,
                    написанные вами, а также оставленные другими пользователями к вашим статьям и комментариям.
                    Отображается количество лайков к каждому комментарию, а также есть ссылка для перехода к
                    соответствующей статье.
                    <h6 class="text-center mt-3"><strong>Мои картинки</strong></h6>
                    Этот раздел - ваша галерея, где вы сможете загрузить и просматривать свои изображения.
                    Они могут пригодиться вам для оформления статей, это сделает ваш контент более удобным и
                    полезным для читателей.
                    <br>
                    Нажав кнопку "Загрузить картинки", вы перейдете к форме, где потребуется выбрать изображение
                    для загрузки и добавить его заголовок. Вы можете одновременно загрузить любое количество
                    изображений.
                    <blockquote class="mt-1 mb-1">
                        <p>Если вы выберете слишком объемное изображение, оно будет автоматически уменьшено
                            до приемлемых размеров.</p>
                    </blockquote>
                    В галерее вы можете просмотреть свои изображения, кликнув на нужное и увеличив его для более
                    удобного просмотра. В открывшемся окне вы найдете кнопки для редактирования и удаления изображения.
                    Здесь же находится кнопка для копирования адреса, который понадобится для добавления картинки к
                    статье.
                    <br>
                    В верхней панели меню сайта расположен поиск по картинкам, доступный в этом разделе. Вы можете
                    искать нужные картинки по заголовку или его части.
                    <h6 class="text-center mt-3"><strong>Мои сообщения</strong></h6>
                    В этом разделе расположены все информационные оповещения. Вы будете получать сообщения, когда
                    ваши статьи пройдут модерацию и будут опубликованы, если они будут отклонены, в случае призыва
                    вас другим пользователем в комментариях, а также в случае получения бана или его снятия.
                    Сообщение, которое более неактуально, вы можете пометить как прочитанное.
                </div>
                <div class="mt-3 text-right"><a href="#top">К содержанию</a></div>

                <div class="card-header text-center">
                    <a name="article_creating"></a>
                    <h5>Как создать статью</h5>
                </div>

                <div class="card-body menu-font">
                    Чтобы создать статью, перейдите в свой личный кабинет и выберите раздел
                    "Мои статьи". Нажмите кнопку "Создать статью" и заполните все поля, начиная
                    от категории, заканчивая тегами.
                    <br>
                    Текст статьи можно оформить, пользуясь встроенным редактором, который поддерживает
                    заголовки, списки, цитаты. Эти элементы оформления доступны в меню редактора.
                    Чтобы просмотреть промежуточный результат, используйте
                    кнопку "Preview" в меню редактора.
                    <br>
                    Для добавления иллюстраций к статье используйте ваши изображения, добавленные
                    в галерею ранее. Кнопка "Открыть галерею в новом окне" позволит быстро перейти к
                    выбору картинок. Выберите нужное изображение или воспользуйтесь поиском по картинкам,
                    кликните по картинке, чтобы увеличить ее и нажмите кнопку "Копировать URL". Полученную
                    строку вставьте в текст статьи в подходщем месте.
                    <br>
                </div>
                <blockquote class="mt-1 mb-1">
                    <p>Вы можете в любой момент сохранить промежуточный результат, нажав кнопку "Сохранить".
                        Вы будете перенаправлены в раздел "Мои статьи" вашего профиля, а статью, над которой вы
                        работали, можно будет найти в подразделе "Черновики".
                    </p>
                </blockquote>
                <div class="card-body menu-font">
                    Вы можете отредактировать черновик или продолжить работу над ним, нажав кнопку
                    "Редактировать" напротив соответствующей статьи. После окончания работы над статьей,
                    нужно будет направить ее на модерацию.
                </div>
                <div class="mt-3 text-right"><a href="#top">К содержанию</a></div>

                <div class="card-header text-center">
                    <a name="article_moderating"></a>
                    <h5>Модерация статей</h5>
                </div>
                <div class="card-body menu-font">
                    Все статьи на нашей платформе проходят обязательную предварительную
                    модерацию. Черновики, отправленные на проверку, будут оценены по ряду
                    критериев, которые важны для поддержания качества контента платформы:
                    <ul>
                        <li>соответствие текста статьи заголовку</li>
                        <li>соответствие выбранных тегов тексту статьи</li>
                        <li>соответствие выбранной категории тексту статьи</li>
                        <li>структурированность и связанность изложения текста</li>
                        <li>грамотность текста статьи</li>
                        <li>отсутствие обсценной лексики (бранных слов) и нарушений, изложенных
                            в ст. 148, 280, 282, 205.2 УК РФ
                        </li>
                    </ul>
                    Если ваша статья соответствует всем критериям, модератор опубликует ее, а вы получите
                    сообщение об этом в своем личном кабинете.
                    <br>
                    В редких случаях, если модератор пропустил какие-либо нарушения в
                    тексте статьи и она была опубликована, мы можем позже отозвать публикацию. Вы
                    будете проинформированы о таком происшествии в вашем личном кабинете.
                </div>
                <blockquote class="mt-1 mb-1">
                    <p>
                        Если вы использовали в своей статье нецензурную лексику или нарушили положения
                        Уголовного Кодекса, вы будете автоматически забанены сроком на 2 недели.
                    </p>
                </blockquote>
                <div class="card-body menu-font">
                    Если какой-то из пунктов не будет соблюден,
                    статья будет отклонена и вы сможете увидеть ее в подразделе "Отклоненные" раздела "Мои
                    статьи" в личном кабинете. Там же будут указаны причины отклонения и расположены кнопки
                    для редактирования статьи и последующей отправки на модерацию. Внесите изменения в статью
                    и попробуйте получить положительное решение еще раз.
                </div>
                <div class="mt-3 text-right"><a href="#top">К содержанию</a></div>

                <div class="card-header text-center">
                    <a name="likes_comments"></a>
                    <h5>Лайки и комментарии</h5>
                </div>
                <div class="card-body menu-font">
                    Вы можете оставить комментарий к любой опубликованной статье, а также к любому
                    комментарию. Соблюдайте, пожалуйста, правила сетевого этикета, не оскорбляйте
                    других пользователей и не используйте нецензурную лексику. Кроме того, в ваших
                    комментариях не должно содержаться призывов к насилию, изображений и ссылок,
                    нарушающих законодательство РФ, а также спама. В случае если такой комментарий
                    будет опубликован, его автор будет забанен или удален.
                    <br>
                    Для поощрения авторов на нашей платформе действует система рейтинга. Вы можете
                    поставить лайк любой статье или комментарию или поблагодарить автора. Если вы
                    считаете статью полезной, лайкните ее, а если вам, например, понравился стиль
                    изложения и вы хотели бы видеть больше контента этого автора, нажмите кнопку
                    "Спасибо автору" под статьей.
                </div>
                <blockquote class="mt-1 mb-1">
                    <p>
                        Одного и того же автора можно благодарить неоднократно. Но в целях честного
                        формирования рейтинга мы ввели ограничение - можно сказать ему спасибо не чаще,
                        чем раз в 5 минут. Если это время еще не вышло, вы увидите сообщение в верхней
                        части страницы и информацию об оставшемся сроке.
                    </p>
                </blockquote>
                <div class="card-body menu-font">
                    Мы внимательно следим за лучшими статьями и теми, кто вкладывает свое время и
                    силы в их создание и поощряем их. Вы можете увидеть статьи с наибольшим количеством
                    лайков и комментариев, а также самых популярных авторов, используя кнопки в шапке
                    главной страницы.
                </div>
                <div class="mt-3 text-right"><a href="#top">К содержанию</a></div>

                <div class="card-header text-center">
                    <a name="calling"></a>
                    <h5>Призыв модератора или другого пользователя</h5>
                </div>
                <div class="card-body menu-font">
                    Если вы заметили нецензурную лексику в комментарии или какие-либо
                    нарушения в тексте статьи, вы можете призвать модератора, для того,
                    чтобы он удалил непотребный контент или поддержал дисциплину общения
                    на платформе.
                    <br>Для этого используйте средства редактора при написании комментария:
                    кнопка со значком @ добавит в текст символы @[]. Напишите слово moderator
                    внутри квадратных скобок и изложите суть проблемы. Все наши модераторы
                    получат ваше сообщение и первый, кто будет свободен, перейдет к текущей
                    статье для наведения порядка.
                </div>
                <blockquote class="mt-1 mb-1">
                    <p>
                        Кроме модератора, вы можете позвать в комментариях любых зарегистрированных
                        пользователей. Напишите внутри квадратных скобок их никнеймы, и они получат сообщение
                        и ссылку для перехода к комментарию, где вы оставили призыв.
                    </p>
                </blockquote>
                <div class="mt-3 text-right"><a href="#top">К содержанию</a></div>

                <div class="card-header text-center">
                    <a name="ban"></a>
                    <h5>Бан пользователей</h5>
                </div>
                <div class="card-body menu-font">
                    Бан пользователей - инструмент для поддержания комфортной атмосферы для
                    общения и обмена информацией на нашей платформе. Эта мера применяется только
                    при серьезных нарушениях дисциплины или положений законов РФ.
                    <br>
                    Забаненный пользователь сможет авторизоваться под своим именем и будет иметь
                    доступ к своему личному кабинету, но он не сможет выставлять лайки, писать
                    комментарии, а также создавать новые статьи. При попытке создать статью в личном
                    кабинете он увидит информацию о том, что ему это временно запрещено и дату истечения
                    запрета.
                </div>
                <blockquote class="mt-1 mb-1">
                    <p>
                        В самых острых случаях нарушения правил пользования нашей платформой мы
                        будем вынуждены удалить аккаунт пользователя. При этом он больше не сможет
                        зайти под своим логином и паролем и получить доступ к личному кабинету.
                    </p>
                </blockquote>
                <div class="card-body menu-font">
                    Бан назначается на некоторый срок, обычно это 2 недели. Все статьи, которые вы
                    отправили на модерацию, будут ожидать окончания бана - модератор сможет рассматривать
                    возможность их публикации только после снятия бана с пользователя.
                    <br>
                    При назначении и снятии бана пользователю направляется сообщение. Если причиной
                    бана была написанная им статья, она будет указана в сообщении.
                </div>
                <div class="mt-3 text-right"><a href="#top">К содержанию</a></div>

                <div class="card-header text-center">
                    <a name="rules"></a>
                    <h5>Правила поведения на сайте</h5>
                </div>
                <div class="card-body menu-font">
                    Мы стараемся создать уютную и дружелюбную среду для обмена
                    опытом и получения новых знаний. Пожалуйста, соблюдайте простые
                    правила поведения, для того, чтобы вам и другим пользователям было
                    комфортно пользоваться нашей платформой.
                    <h6 class="text-center mt-3"><strong>При написании статьи или комментария</strong></h6>
                    <ul>
                        <li>используйте авторский контент или глубокую переработку
                            чужого материала, не нужно размещать скопированный текст, не принадлежащий вам
                        </li>
                        <li>разбивайте текст на абзацы для удобства чтения и пишите максимально грамотно</li>
                        <li>разумно выбирайте заголовок</li>
                        <li>не размещайте рекламу и запрещенный контент</li>
                        <li>обращайтесь к читателю или собеседнику вежливо, без нецензурной лексики и
                            оскорблений, а если неприемлемый тон оппонент применяет к вам, призовите модератора
                            в комментарий для наведения порядка
                        </li>
                        <li>запрещены сообщения с оскорблениями по национальному признаку, фейки и
                            новости сугубо политической тематики
                        </li>
                        <li>запрещены любые просьбы о донате или размещение ссылок для материального поощрения
                        </li>
                    </ul>
                    <h6 class="text-center mt-3"><strong>При выборе иллюстраций</strong></h6>
                    <ul>
                        <li>помните об авторском праве на медиаконтент, используйте личные
                            иллюстрации или размещенные на бесплатных фотохостингах
                        </li>
                        <li>не добавляйте в статьи фото неприемлемого и шокирующего содержания,
                            а также категории 18+
                        </li>
                        <li>не иллюстрируйте статьи размытыми и низкокачественными изображениями</li>
                    </ul>
                    <h6 class="text-center mt-3"><strong>Призыв модератора и пользователей</strong></h6>
                    <ul>
                        <li>не злоупотребляйте призывами модераторов и других пользователей в комментарии
                        </li>
                        <li>отнеситесь взвешенно к причинам призыва модераторов - их стоит звать для наведения
                            порядка, удаления непотребного контента, чтобы обратить внимание на какую-либо проблему,
                            относящуюся к работе платформы. Не стоит призывать модератора в качестве шутки или,
                            например, для того, чтобы спросить, когда будет опубликована ваша статья
                        </li>
                        <li>призывайте других пользователей только по конкретной причине: чтобы поделиться найденным
                            интересным фактом, статьей или спросить их мнение по какому-то вопросу
                        </li>
                    </ul>
                    <h6 class="text-center mt-3"><strong>Лайки и рейтинг</strong></h6>
                    <ul>
                        <li>запрещена накрутка рейтинга, в том числе призывы к ней и просьбы
                            поставить лайк
                        </li>
                        <li>запрещены мультиакки с целью накрутки собственного рейтинга
                        </li>
                    </ul>
                    При соблюдении этих несложных правил вы никогда не получите бан или отклонение статьи,
                    а пребывание на нашем сайте будет максимально комфортным для всех участников.
                </div>
                <div class="mt-3 text-right"><a href="#top">К содержанию</a></div>

                <h4 class="text-center">Желаем вам приятного и полезного времяпрепровождения на нашем сайте!</h4>

                {#                <div class="card card-margin">#}
                {#                    <div class="card-header">Роли и привилегии пользователей</div>#}
                {#                    <div class="card-body">#}
                {#                        <h4 class="card-title">Гость(Guest)</h4>#}
                {#                        <p class="card-text">Гость может просматривать статьи, а так же комментарии опубликованные#}
                {#                            другими пользователями.#}
                {##}
                {#                        <h4 class="card-title">Пользователь(User)</h4>#}
                {#                        <p class="card-text">Пользователь может просматривать и лайкать статьи и комментарии, а также#}
                {#                            редактировать/удалить свою статью.#}
                {##}
                {#                        <h4 class="card-title">Модератор(Moderator)</h4>#}
                {#                        <p class="card-text">Модератор может создавать и удалять статьи и комментарии, а также#}
                {#                            блокировать и удалять#}
                {#                            зарегистрированных пользователей.</p>#}
                {##}
                {#                        <h4 class="card-title">Администратор(Administrator)</h4>#}
                {#                        <p class="card-text">Администратору предоставлен полный доступ к функционалу сайта.</p>#}
                {#                    </div>#}
                {##}
                {#                </div>#}
                {##}
                {#                <div class="card card-margin">#}
                {#                    <div class="card-header">Информация</div>#}
                {#                    <div class="card-body">#}
                {#                        <h4 class="card-title">Создание поста</h4>#}
                {#                        <p class="card-text">Процесс создания публикации прост:#}
                {#                        <ul>#}
                {#                            <li>нажмите на кнопку «Написать»;</li>#}
                {#                            <li>дайте публикации понятный заголовок, заполните тело публикации;</li>#}
                {#                            <li>не забудьте указать теги, по которым можно понять, о чем пост;</li>#}
                {#                            <li>если всё в порядке, нажмите зеленую кнопку «Опубликовать»;</li>#}
                {#                            <li>если в пост нужно внести изменения, воспользуйтесь кнопкой в виде карандаша — это#}
                {#                                позволит отредактировать материал.#}
                {#                            </li>#}
                {#                            </p>#}
                {#                        </ul>#}
                {#                        <h4 class="card-title">Статья</h4>#}
                {#                        <p class="card-text">Под статьей понимают оригинальный материал, написанный лично автором.#}
                {#                            Обзор, дайджест, туториал, ликбез, отчет о мероприятии, рецензия — все это статьи.</p>#}
                {#                        <h4 class="card-title">Признаки хороших и плохих публикаций</h4>#}
                {#                        <h5 class="card-title">Хорошая публикация:</h5>#}
                {#                        <ul>#}
                {#                            <li>содержит авторский контент;</li>#}
                {#                            <li>удобна для чтения, разбита на абзацы и в целом хорошо отформатирован;</li>#}
                {#                            <li>написана максимально грамотно;</li>#}
                {#                            <li>не содержит того, что есть в плохих публикациях.</li>#}
                {#                        </ul>#}
                {#                        <h5 class="card-title">Плохая публикация:</h5>#}
                {#                        <ul>#}
                {#                            <li>имеет кричащий заголовок вида;</li>#}
                {#                            <li>переполнена грамматическими и орфографическими ошибками;</li>#}
                {#                            <li>содержит изображения с нестабильных фотохостингов;</li>#}
                {#                            <li>является жалобой на что-либо;</li>#}
                {#                            <li>содержит запрещённый или просто неуместный контент;</li>#}
                {#                            <li>является прямой рекламой своего или чужого проекта;</li>#}
                {#                        </ul>#}
                {#                    </div>#}

                {#                </div>#}
            </div>
        </main>
    </div>
{% endblock %}
