{% extends 'articles/base.html' %}
{% load static %}
{% load martortags %}

{% block title %}Главная страница{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}

    <!-- Скрипт для облака тегов -->
    <script src="https://www.goat1000.com/jquery.tagcanvas.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            try {
                TagCanvas.textColour = '#ffffff';
                TagCanvas.shape = "sphere";
                TagCanvas.textHeight = 30;
                TagCanvas.textColour = '#000000';
                TagCanvas.outlineThickness = 1;
                TagCanvas.outlineColour = "#ffff99";
                TagCanvas.bgOutlineThickness = 0;
                TagCanvas.maxSpeed = 0.03;
                TagCanvas.depth = 0.9;
                TagCanvas.Start('myCanvas');
            } catch (e) {
                document.getElementById('myCanvasContainer').style.display = 'none';
            }
        };
    </script>

    <div id="layoutSidenav_content">
        <main>
             <div class="container-fluid text-center">
                <div class="row card-header">
                    <div class="col-6 text-left">
                        <a href=" {% url 'best_articles' %}">
                            <button class="btn btn-outline-dark btn-block"> Статьи с лучшим рейтингом</button>
                        </a>
                        <a href=" {% url 'discussed_articles' %}">
                            <button class="btn btn-outline-dark btn-block">Самые обсуждаемые статьи</button>
                        </a>
                        <a href=" {% url 'users_rating' %}">
                            <button class="btn btn-outline-dark btn-block">Авторы с лучшим рейтингом</button>
                        </a>
                    </div>
                    <div class="col-6">
                        <div id="myCanvasContainer">
                            <canvas id="myCanvas" width="500vh" height="200vh">
                                <ul>
                                    {% for tag in cloud_tags %}
                                        <li><a href="{% url 'articles:tag_articles' tag.slug %}">{{ tag.tag_name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </canvas>
                        </div>
                    </div>
                </div>

                <h1 class="mt-4 mb-4">Свежие статьи</h1>

                <!-- Контейнер бесконечной прокрутки, куда подгружаются объекты -->
                <div id="infinite-container" class="infinite-container">
                    {% for article in all_articles %}

                        <div class="infinite-item row main p-3 border border-grey mt-1 mb-1">
                            <div class="col-4">

                                <div class="text-left">
                                    <div class="col-14 row border">
                                        <div class="col-6">
                                            <p>{{ article.create_time | date }}</p>
                                        </div>
                                        <div class="col-3">
                                            <p><i class="fa fa-commenting-o grey"></i><strong>{{ article.get_comments }}</strong></p>
                                        </div>
                                        <div class="col-3">
                                            <p><i class="fa fa-heart-o grey"></i><strong>{{ article.get_likes }}</strong></p>
                                        </div>
                                    </div>
                                    <div class="col-14 row border">
                                        <div class="col-12 text-center">
                                        <a href="{% url 'articles:user_articles' article.user.uuid %}">
                                                <p><strong>{{ article.user }}</strong></p>
                                            </a>
                                        </div>
                                        <div class="col-12 text-center">
                                            <a href="{% url 'articles:category_read' article.article_category.slug %}">
                                                <p><strong>{{ article.article_category }}</strong></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-8 mt-3 underlined">
                                <h4>{{ article.title }}</h4>
                            </div>

                            <div class="col-12 mt-5 martor-preview text-left">
                                {{ article.body | safe_markdown | truncatechars_html:350 }}
                            </div>
                            <div class="col-12 text-right">
                                <a class="btn btn-sm btn-outline-dark rounded-3 btn-grey"
                                   href="{% url 'articles:article_read' article.slug %}">Читать статью</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Вспомогательный объект бесконечной прокрутки, может отображаться при загрузке -->
                <div class="loading" style="display: none;">
                    Загрузка статей...
                </div>

                <!-- Вспомогательный объект бесконечной прокрутки, не отображается на экране -->
                {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
                {% endif %}

                <!-- Старое меню пагинации -->
                {#                <nav aria-label="Page navigation">#}
                {#                    <ul class="pagination justify-content-center">#}
                {#                        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">#}
                {#                            <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3#}
                {#                                            {% if page_obj.has_previous %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"#}
                {#                               href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}#}
                {#                                            {% else %} # {% endif %}" tabindex="-1" aria-disabled="true"><i#}
                {#                                    class="fas fa-backward"></i></a>#}
                {#                        </li>#}
                {#                        {% for page in page_obj.paginator.page_range %}#}
                {#                            <li class="page-item">#}
                {#                                <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3 btn-grey dark-grey"#}
                {#                                   href="?page={{ page }}">{{ page }}</a>#}
                {#                            </li>#}
                {#                        {% endfor %}#}
                {#                        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">#}
                {#                            <a class="infinite-more-link page-link menu-font btn btn-sm btn-outline-dark rounded-3#}
                {#                                            {% if page_obj.has_next %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"#}
                {#                               href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}#}
                {#                                               {% else %} # {% endif %}"><i class="fas fa-forward"></i></a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </nav>#}

            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>

    <script>
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}