{% extends 'articles/base.html' %}
{% load static %}
{% load martortags %}

{% block css %}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>

            <!-- Вывод сообщений формы-->
            <div>
                <ul class="errorlist">
                    {% if messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {% for message in messages %}
                                <div{% if message.tags %}
                                    class="{{ message.tags }} mt-2"{% endif %}>{{ message|escape }}</div>
                            {% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </ul>
            </div>

            <div class="container-fluid text-center">
                <div class="row main p-3 mt-1">
                    <div class="col-4">

                        <div class="text-left">
                            <div class="col-12 row border">
                                <p>Добавлена: {{ article.create_time | date }}</p>
                            </div>
                            <div class="col-12 row border">
                                <p> Категория:
                                    <a href="{% url 'articles:category_read' article.article_category.slug %}"><strong>{{ article.article_category.category_name }}</strong></a>
                                </p>
                            </div>
                            <div class="col-12 row border">
                                <p>Автор:
                                    <a href="{% url 'articles:user_articles' article.user.uuid %}"><strong>{{ article.user }}</strong></a>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-8 mt-3 underlined">
                        <h4>{% block title %}{{ article.title }}{% endblock %}</h4>
                    </div>

                    <div class="col-12 mt-5 martor-preview menu-font text-left">
                        {{ article.body | safe_markdown }}
                    </div>

                    <div class="col-12 mt-1 text-right menu-font">
                        {% if article.tag %}Теги:{% endif %}

                        {% for tag in article.tag.all %}
                            <u><a href="{% url 'articles:tag_articles' tag.slug %}">{{ tag }}</a></u>
                            {% if not forloop.last %}, {% endif %}
                        {% empty %} не указаны
                        {% endfor %}

                    </div>

                    {% if request.user.is_authenticated %}
                        <div class="col-12">
                            <div class="row">

                                {% if request.user.is_staff and article.is_active != 'DENY' and article.is_active != 'DRAFT' %}
                                    <div class="col-3">
                                        <form action="?type=deny" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-dark btn-block" type="submit">
                                                <i class="fas fa-eye-slash"></i> Отклонить
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}

                                {% if request.user == article.user %}
                                    <div class="col-3">
                                        <form action="?type=delete" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-dark btn-block" type="submit">
                                                <i class="fas fa-trash"></i> Удалить
                                            </button>
                                        </form>
                                    </div>

                                {% else %}

                                    <div class="col-3">
                                        <form type="submit" action="{% url 'articles:article_like' article.slug %}"
                                              method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-dark btn-block">
                                                {% if author_is_liked %}
                                                    <i class="fa fa-heart grey"></i>
                                                {% else %}
                                                    <i class="fa fa-heart-o grey"></i>
                                                {% endif %} Спасибо автору
                                            </button>
                                        </form>
                                    </div>

                                    <div class="col-3">
                                        <form action="?type=like" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-dark btn-block">
                                                {% if is_like == 0 %}
                                                    <i class="fa fa-heart-o grey"></i>
                                                {% else %}
                                                    <i class="fa fa-heart grey"></i>
                                                {% endif %} Полезная статья
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}

                    {% include 'articles/comment.html' %}

                </div>
                <hr>
                <div class="row mb-4">
                    <div class="col-6">
                        <a class='btn btn-outline-dark btn-grey btn-block ml-3 mr-1 mb-1'
                           href='{% url 'articles:category_read' article.article_category.slug %}'>К статьям категории
                            {{ article.article_category }}</a>
                    </div>
                    <div class="col-6">
                        <a class='btn btn-outline-dark btn-grey btn-block ml-3 mr-1 mb-1'
                           href='{% url 'index' %}'>На главную</a>
                    </div>
                </div>
            </div>
        </main>
        {% include 'articles/includes/footer.html' %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.btns').on('click', 'a[data-option]', function () {
                option = $(this).data('option');
                $('.form-control option[value="' + option + '"]').prop('selected', true);
                return false
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}