{% extends 'articles/base.html' %}
{% load static %}
{% load martortags %}

{% block title %}Страница поиска{% endblock %}

{% block css %}
<link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
<link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="layoutSidenav_content">
    <main>

        <h2 class="mt-4 mb-4 text-center">Результат поиска</h2>
        <div class="container-fluid text-center">
            <a class="btn btn-sm btn-outline-dark rounded-3 btn-grey"
               href="{% url 'search_view_sort_new' search_string %}?search_panel={{ search_string }}">Сначала новые</a>
            <a class="btn btn-sm btn-outline-dark rounded-3 btn-grey"
               href="{% url 'search_view_sort_like' search_string %}?search_panel={{ search_string }}">Сначала
                популярные</a>
        </div>


        <div class="container-fluid text-center">

            {% for article in context_object_name %}

            <div class="row main p-3 border border-grey mt-1 mb-1">
                <div class="col-4">

                    <div class="text-left">
                        <div class="col-12 row border">
                            <p>Добавлена: {{ article.create_time | date }}</p>
                        </div>
                        <div class="col-12 row border">
                            <p> Категория: <strong>{{ article.article_category.category_name }}</strong></p>
                        </div>
                    </div>

                </div>
                <div class="col-8 mt-3 underlined">
                    <h4>{{ article.title }}</h4>
                </div>

                <div class="col-12 mt-5 martor-preview text-left">
                    {{ article.body | safe_markdown | truncatechars_html:350 }}
                </div>
                <div class="col-12 text-right">
                    <a class="btn btn-sm btn-outline-dark rounded-3 btn-grey"
                       href="{% url 'articles:article_read' article.slug %}">Читать статью</a>
                </div>
            </div>

            {% endfor %}

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                        <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3
                            {% if page_obj.has_previous %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"
                           href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}
                            {% else %} # {% endif %}"
                           tabindex="-1" aria-disabled="true"><i class="fas fa-backward"></i></a>
                    </li>
                    {% for page in page_obj.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3 btn-grey dark-grey"
                           href="?page={{ page }}">{{ page }}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                        <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3
                            {% if page_obj.has_next %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"
                           href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                               {% else %} # {% endif %}"><i class="fas fa-forward"></i></a>
                    </li>
                </ul>
            </nav>

        </div>
    </main>
    {% include 'articles/includes/footer.html' %}
</div>
{% endblock %}