{% extends 'articles/base.html' %}
{% load static %}
{% block title %}
    Редактирование статьи
{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="new_category_form">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>Категория: {{ update_form.article_category }}</div>
                <div>Заголовок: {{ update_form.title }}</div>
                <div>Текст статьи: {{ update_form.body }}</div>

                <div class="mt-2 mb-2">
                    <a class="btn btn-outline-secondary btn-grey btn-block" href="{% url 'auth:user_images' user.uuid %}"
                        target="_blank" rel="noopener">
                        <i class="fas fa-images"></i>
                        Открыть галерею в новой вкладке
                    </a>
                </div>

                <div>Теги: {{ update_form.tag }}</div>
                <input class="form-control btn-outline-secondary btn btn-grey btn-block" name="update_article" type="submit" value="Сохранить">

            </form>
        </div>
    </main>
    {% include 'articles/includes/footer.html' %}
</div>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
{% endblock %}