{% extends 'moderation/moderation-base.html' %}
{% load static %}
{% load martortags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% with '/moderation/article-moderation/' as default_detail_path %}
        <div id="layoutSidenav_content">
            <main>

                <!-- Вывод сообщений формы-->
                <div>
                    <ul class="errorlist">
                        {% if messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                 style="margin-top: 50px;">
                                {% for message in messages %}
                                    <div{% if message.tags %}
                                        class="{{ message.tags }} mt-2"{% endif %}>{{ message|escape }}</div>
                                {% endfor %}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    </ul>
                </div>

                <div class="container-fluid">
                    <div class="card-body">
                        <div class="row text-left">
                            <div class="col-4 mt-2 text-left menu-font">
                                <div class="text-left">
                                    <div class="col-12 row border">
                                        <p>Добавлена: {{ article.create_time | date }}</p>
                                    </div>
                                    <div class="col-12 row border">
                                        <p>Категория: <strong>{{ article.article_category }}</strong></p>
                                    </div>
                                    <div class="col-12 row border">
                                        <p>Автор: <strong>{{ article.user }}</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 mt-3">
                                <h3 class="text-center"><b>{{ article.title }}</b>
                                </h3>
                                <hr>
                                {% if article.tag %}Теги: {% endif %}
                                {% for tag in article.tag.all %}
                                    {{ tag }}
                                    {% if not forloop.last %}, {% endif %}
                                {% empty %}не указаны
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-5 martor-preview menu-font text-left">
                                {{ article.body | safe_markdown }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 alert alert-warning alert-dismissible fade show" role="alert"
                                 style="margin-top: 50px; display: none;" id="approve-alert">
                                <div class="mt-2" id="approve-message">
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {% if default_detail_path in request.path %}
                            <div class="row">
                                <div class="col-12 text-center border border-grey menu-font">
                                    <div class="mt-2"><strong>Список критериев</strong></div>
                                    <div class="mt-1 row text-left m-3">
                                        <div class="col-6">
                                            <p><input type="checkbox" class="custom-checkbox" name="approve-criteria"
                                                      id="ch1">
                                                <label class="checkboxtext" for="ch1"> Заголовок не соответствует
                                                    тексту</label>
                                            </p>
                                            <p><input type="checkbox" class="custom-checkbox" name="approve-criteria"
                                                      id="ch2">
                                                <label class="checkboxtext" for="ch2"> Теги не соответствуют
                                                    тексту</label>
                                            </p>
                                            <p><input type="checkbox" class="custom-checkbox" name="approve-criteria"
                                                      id="ch3">
                                                <label class="checkboxtext" for="ch3"> Категория не соответствует
                                                    тексту</label>
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p><input type="checkbox" class="custom-checkbox" name="approve-criteria"
                                                      id="ch4">
                                                <label class="checkboxtext" for="ch4"> Статья плохо структурирована,
                                                    текст
                                                    изложен несвязно</label>
                                            </p>
                                            <p><input type="checkbox" class="custom-checkbox" name="approve-criteria"
                                                      id="ch5">
                                                <label class="checkboxtext" for="ch5"> Текст написан неграмотно</label>
                                            </p>
                                            <p>
                                                <input type="checkbox" class="custom-checkbox" name="approve-criteria"
                                                       id="ch6">
                                                <label class="checkboxtext" for="ch6"> Присутствует обсценная
                                                    лексика и/или нарушения, указанные в ст. 148, 280, 282, 205.2 УК
                                                    РФ</label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mt-2 mb-2">
                                    <form action="{% url 'moderation:moderation_article_detail' article.slug %}"
                                          method="post" class="approve-form" id="decline-button">
                                        {% csrf_token %}
                                        <label for="decline"></label>
                                        <input class="btn btn-dark btn-block approve-button" value="Отклонить"
                                               id="decline">
                                    </form>
                                </div>
                                <div class="col-6 mt-2 mb-2">
                                    <form action="{% url 'moderation:moderation_article_detail' article.slug %}"
                                          method="post" class="approve-form" id="approve-button">
                                        {% csrf_token %}
                                        <label for="approve"></label>
                                        <input class="btn btn-dark btn-block approve-button" value="Опубликовать"
                                               id="approve">
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <br>
                                <h4>Причины отклонения: </h4>
                                <h5>{{ article.rejection_reason }}</h5>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <form action="{% url 'moderation:recover_article_detail' article.slug %}"
                                          method="post">
                                        {% csrf_token %}
                                        <label for="recover"></label>
                                        <input type="submit" class="btn btn-dark btn-block recover-button"
                                               value="Восстановить"
                                               id="recover">
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </main>
            {% include 'articles/includes/footer.html' %}
        </div>

    {% endwith %}
    <script>
        window.addEventListener('load', (e) => {
            /**
             * Checks whether all the evaluation criteria were used by the moderator
             * when submitting the article for moderation.
             */
            $('.approve-button').on('click', function (e) {
                e.preventDefault();
                let all_criteria = document.getElementsByName('approve-criteria');
                let approve_form = $(".approve-form")
                if (e.target.id === 'approve') {
                    if (Array.prototype.every.call(all_criteria, function (e) {
                        return e.checked === false;
                    })) {
                        let input = $("<input>").attr("type", "hidden").attr("name", "mydata").val("ok");
                        approve_form.append(input);
                        approve_form.submit()
                    } else {
                        $('#approve-alert').attr('style', 'display: inline;')
                        $('#approve-message').text('Статья не может быть опубликована, если не соответствует хотя бы' +
                            ' по одному из критериев')
                    }
                } else {
                    let reasons = []
                    let ban_reason = 'false'
                    Array.prototype.forEach.call(all_criteria, function (e) {
                        if (e.checked === true) {
                            if (e.id === 'ch6') {
                                ban_reason = 'true'
                            }
                            return reasons.push(e.nextSibling.nextSibling.textContent);
                        }
                    });
                    if (Array.isArray(reasons) && reasons.length) {
                        let input = $("<input>").attr("type", "hidden").attr("name", "mydata").val(reasons)
                        approve_form.append(input);
                        if (ban_reason === 'true') {
                            let input_2 = $("<input>").attr("type", "hidden").attr("name", "ban_reason").val(ban_reason)
                            approve_form.append(input_2);
                        }
                        approve_form.submit()
                    } else {
                        $('#approve-alert').attr('style', 'display: inline;')
                        $('#approve-message').text('Убедитесь, что вы отметили хотя бы один критерий ' +
                            'для отклонения статьи')
                    }
                }
            });
        })
    </script>

{% endblock %}
