{% extends 'authnapp/profile/profile.html' %}
{% load static %}


{% block profile-content %}
    <div class="container-fluid text-center menu-font">
        <div class="card mb-4">
            <div class="card-header">
                <div class="row background-light-grey">
                    <div class="col-3">
                        <a class="btn btn-primary btn-grey btn-block m-2"
                           href="{% url 'auth:draft_user_articles' habruserprofile.uuid %}">
                            Черновики
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary btn-grey btn-block m-2"
                           href="{% url 'auth:on_moderation_user_articles' habruserprofile.uuid %}">
                            На модерации
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary btn-grey btn-block m-2"
                           href="{% url 'auth:denied_user_articles' habruserprofile.uuid %}">
                            Отклоненные
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary btn-grey btn-block m-2"
                           href="{% url 'auth:published_user_articles' habruserprofile.uuid %}">
                            Опубликованы
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <a class="btn btn-outline-secondary btn-block m-2"
                           href="{% url 'create_article' %}">
                            Создать статью
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered wigth-100 text-center" id="dataTable">
                            <thead class="background-light-grey">
                            <tr>
                                <th>Заголовок</th>
                                <th>Категория</th>
                                <th>Создана</th>
                                <th>Тэги</th>
                                {% if flag == 'ACTIVE' %}
                                    <th>Кол-во лайков</th>
                                {% elif flag == 'DENY' %}
                                    <th>Причина</th>
                                {% elif flag == 'DRAFT' %}
                                    <th>Опубликовать</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <!-- Контейнер бесконечной прокрутки, куда подгружаются объекты -->
                            <tbody class="infinite-container" id="infinite-container">

                            {% for article in user_articles %}
                                <tr class="infinite-item">
                                    <td class="col-3 text-left item-on-page" value="{{ article.id }}">
                                        <a href="{% url 'articles:article_read' article.slug %}"
                                           class="admin-link">{{ article.title }}</a>
                                    </td>
                                    <td class="col-2 text-left">{{ article.article_category }}</td>
                                    <td class="col-2 text-left">{{ article.create_time }}</td>
                                    <td class="col-2 text-left">
                                        {% for tag in article.tag.all %}
                                            <u><a href="{% url 'articles:tag_articles' tag.slug %}">{{ tag }}</a></u>
                                            {% if not forloop.last %},
                                            {% endif %}
                                        {% endfor %}</td>

                                    {% if flag == 'ACTIVE' %}

                                        <td>{{ article.get_likes }}</td>
                                    {% elif flag == 'DENY' %}

                                        <td>
                                            <p>Причины отклонения: {{ article.rejection_reason }}</p>
                                            <form action="{% url 'auth:article_to_moderation' article.slug %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <label for="on_moderation"></label>
                                                <input type="submit" class="btn btn-grey btn-primary btn-block"
                                                       value="На модерацию"
                                                       id="on_moderation">
                                            </form>
                                            <a class="btn btn-grey btn-primary btn-block"
                                               href="{% url 'update_article' article.slug %}">Редактировать</a>
                                        </td>
                                    {% elif flag == 'DRAFT' %}
                                        <td>
                                            <form action="{% url 'auth:article_to_moderation' article.slug %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <label for="on_moderation"></label>
                                                <input type="submit" class="btn btn-grey btn-primary btn-block"
                                                       value="На модерацию"
                                                       id="on_moderation">
                                            </form>
                                            <a class="btn btn-grey btn-primary btn-block"
                                               href="{% url 'update_article' article.slug %}">Редактировать</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% empty %}
                                <div class="row main p-3 border border-grey mt-1 mb-1">
                                    <div class="col-12 text-center">
                                        У вас еще нет
                                        {% if flag == 'ACTIVE' %}
                                            опубликованных статей
                                        {% elif flag == 'DENY' %}
                                            статей, отклоненных модератором
                                        {% elif flag == 'DRAFT' %}
                                            черновиков
                                        {% else %}
                                            статей, отправленных на модерацию
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <!-- Вспомогательный объект бесконечной прокрутки, может отображаться при загрузке -->
                <div class="loading" style="display: none;">
                    Загрузка статей...
                </div>

                <!-- Вспомогательный объект бесконечной прокрутки, не отображается на экране -->
                {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
                {% endif %}
                {#                    <nav aria-label="Page navigation">#}
                {#                        <ul class="pagination justify-content-center">#}
                {#                            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">#}
                {#                                <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3#}
                {#                            {% if page_obj.has_previous %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"#}
                {#                                   href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}#}
                {#                            {% else %} # {% endif %}"#}
                {#                                   tabindex="-1" aria-disabled="true"><i class="fas fa-backward"></i></a>#}
                {#                            </li>#}
                {#                            {% for page in page_obj.paginator.page_range %}#}
                {#                                <li class="page-item">#}
                {#                                    <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3 btn-grey dark-grey"#}
                {#                                       href="?page={{ page }}">{{ page }}</a>#}
                {#                                </li>#}
                {#                            {% endfor %}#}
                {#                            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">#}
                {#                                <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3#}
                {#                            {% if page_obj.has_next %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"#}
                {#                                   href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}#}
                {#                               {% else %} # {% endif %}"><i class="fas fa-forward"></i></a>#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                    </nav>#}
            </div>
        </div>
    </div>

    <script>
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}
