<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="row justify-content-center">
                    <img class="col-8 user-image img-responsive center-block" src="" alt="">
                    <div class="col-4">
                        <a id="image-delete" class="btn btn-primary btn-grey btn-block mb-4"
                           href="#">
                            Удалить
                        </a>
                        <a id="image-update" class="btn btn-primary btn-grey btn-block mb-4"
                           href="#">
                            Изменить
                        </a>
                        <input type="text" class="image-url" value="">
                        <div id="copy_url">
                            <a class="btn btn-primary btn-grey btn-block mb-4"
                               href="#">
                                Копировать URL
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type=text/javascript>
    window.addEventListener('load', (e) => {
        e.preventDefault();
        $(document).on('click', '#copy_url', function () {
            let copyText = $('input.image-url')
            copyText.select();
            document.execCommand("copy");
        });
        $(document).on('click', '#image-delete', function () {
            let url = "{% url 'auth:delete_images' 123%}";
            let id = $('.user-image').attr('id');
            document.location.href = url.replace('123', id);
        });
        $(document).on('click', '#image-update', function () {
            let url = "{% url 'auth:update_images' 123%}";
            let id = $('.user-image').attr('id');
            document.location.href = url.replace('123', id);
        });
    })
</script>