{% extends 'authnapp/profile/profile.html' %}
{% load static %}


{% block profile-content %}
    {% include 'authnapp/includes/image_modal.html' %}
    <div class="container-fluid text-center menu-font">
        <div class="card mb-4">
            <div class="card-header">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <a class="btn btn-primary btn-grey btn-block mb-4"
                           href="{% url 'auth:load_images' habruserprofile.uuid %}">
                            Загрузить картинки
                        </a>
                    </div>
                </div>

                <!-- Контейнер бесконечной прокрутки, куда подгружаются объекты -->
                <div id="infinite-container" class="infinite-container">
                    <div class="infinite-item row justify-content-center">

                        {% for image in user_pictures %}

                            <div class="col-4">
                                <div class="row border border-grey btn-light m-1">
                                    <div class="thumbnail col-12" id="{{ image.slug }}">
                                        <img class="thumbnail img-fluid img-rounded img-responsive img-thumbnail m-2 border border-grey"
                                             width="50%"
                                             src=" {{ image.image_url }}"
                                             alt="">
                                    </div>
                                    <div class="col-12 placeholders-text">
                                        <p>{{ image.create_time }}</p>
                                        <p class="border border-grey">{{ image.file_name }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Вспомогательный объект бесконечной прокрутки, может отображаться при загрузке -->
                <div class="loading" style="display: none;">
                    Загрузка картинок...
                </div>

                <!-- Вспомогательный объект бесконечной прокрутки, не отображается на экране -->
                {% if page_obj.has_next %}
                    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
                {% endif %}

                <div class="card-footer">
                    <!-- Старое меню пагинации -->
                    {#                    <nav aria-label="Page navigation">#}
                    {#                        <ul class="pagination justify-content-center">#}
                    {#                            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">#}
                    {#                                <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3#}
                    {#                            {% if page_obj.has_previous %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"#}
                    {#                                   href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}#}
                    {#                            {% else %} # {% endif %}"#}
                    {#                                   tabindex="-1" aria-disabled="true"><i class="fas fa-backward"></i></a>#}
                    {#                            </li>#}
                    {#                            {% for page in page_obj.paginator.page_range %}#}
                    {#                                <li class="page-item">#}
                    {#                                    <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3 btn-grey dark-grey"#}
                    {#                                       href="?page={{ page }}">{{ page }}</a>#}
                    {#                                </li>#}
                    {#                            {% endfor %}#}
                    {#                            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">#}
                    {#                                <a class="page-link menu-font btn btn-sm btn-outline-dark rounded-3#}
                    {#                            {% if page_obj.has_next %} btn-grey dark-grey {% else %} btn-grey-disabled {% endif %}"#}
                    {#                                   href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}#}
                    {#                               {% else %} # {% endif %}"><i class="fas fa-forward"></i></a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </nav>#}
                </div>
            </div>
        </div>
    </div>

    <script>
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}
