{% if request.user.is_superuser %}
    <a class="dropdown-item" href="/admin">Админка</a>
{% endif %}
{% if request.user.is_staff %}
    <a class="dropdown-item" href="{% url 'moderation:moderation_index' %}">Панель модерации</a>
{% endif %}

{% if request.user.is_authenticated %}
    {#<a class="dropdown-item" href="{% url 'auth:edit' %}">{{ user.username|default:'Пользователь' }}</a>#}
    <a class="dropdown-item" href="{% url 'auth:profile' user.habruserprofile.uuid %}">Личный кабинет: {{ user.username }}</a>
    <a class="dropdown-item" href="{% url 'auth:logout' %}">Выйти из профиля</a>
{% else %}
    <a class="dropdown-item" href="{% url 'auth:login' %}?next={% firstof request.path '/' %}">Войти в профиль</a>
{% endif %}
