{% extends 'authnapp/profile/profile.html' %}
{% load static %}


{% block profile-content %}
    <div class="container-fluid text-center">
    <div class="row mt-2">
        <div class="col-6">
            <a class="btn btn-grey btn-outline-info btn-block"
               href='{% url 'auth:user_comments' habruserprofile.uuid %}'>
                <span class="small-text">Мои комментарии</span></a>
        </div>
        <div class="col-6">
            <a class="btn btn-grey btn-outline-info btn-block"
               href='{% url 'auth:to_me_comments' habruserprofile.uuid %}'>
                <span class="small-text">Комментарии к моему контенту</span></a>
        </div>
    </div>
    <h2 class="mt-4 mb-4">{% block title %}{{ title }}{% endblock %}</h2>

    <!-- Контейнер бесконечной прокрутки, куда подгружаются объекты -->
    <div id="infinite-container" class="infinite-container">
        {% for comment in user_comments %}

            <div class="infinite-item row main p-3 border border-grey mt-1 mb-1">
                <div class="col-4 text-left">
                    <p>Добавлен: {{ comment.create_time | date }}</p>
                    {#                                    <div class="col-12 row border">#}
                    {#                                        <p>Автор: <strong>{{ article.user }}</strong></p>#}
                    {#                                    </div>#}
                </div>
                <div class="col-8 text-right">
                    <p>К статье: <strong><a href="{% url 'articles:article_read' comment.comment_article.slug %}">
                        {{ comment.comment_article }}</a></strong></p>
                </div>
                <div class="col-2 text-left">
                    <p>Лайки: <i class="{% if comment.get_likes == 0 %} fa fa-heart-o {% else %}
                    fas fa fa-heart {% endif %}"></i> {{ comment.get_likes }}</p>
                </div>
                {% if comment.parent %}
                    <div class="col-10 text-right">
                        <p>Ответ на комментарий: <strong>{{ comment.parent }}</strong></p>
                    </div>
                {% endif %}
                <div class="col-12 mt-1 text-left">
                    {{ comment.body | safe | truncatechars:200 }}
                </div>
                {#                            <div class="col-12 text-right">#}
                {#                                <a class="btn btn-sm btn-outline-dark rounded-3 btn-grey"#}
                {#                                   href="{% url 'articles:article_read' article.slug %}">Читать статью</a>#}
                {#                            </div>#}
            </div>

        {% empty %}
            <div class="row main p-3 border border-grey mt-1 mb-1">
                <div class="col-12 text-center">
                    К сожалению, вы еще не написали комментариев
                </div>
            </div>

        {% endfor %}
    </div>

    <!-- Вспомогательный объект бесконечной прокрутки, может отображаться при загрузке -->
    <div class="loading" style="display: none;">
        Загрузка комментариев...
    </div>

    <!-- Вспомогательный объект бесконечной прокрутки, не отображается на экране -->
    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}
    </div>
    <script>
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}
