{% extends 'authnapp/profile/profile.html' %}
{% load static %}


{% block profile-content %}
    <div class="container-fluid text-center">
        <h2 class="mt-4 mb-4">{% block title %}{{ title }}{% endblock %}</h2>

        <!-- Контейнер бесконечной прокрутки, куда подгружаются объекты -->
        <div id="infinite-container" class="infinite-container">
            {% for message in user_messages %}

                <div {% if message.is_read %}style="background-color: #A69888" {% endif %}
                        class="infinite-item row main p-3 border border-grey mt-1 mb-1">
                    <div class="col-11 text-left">
                        <p>Добавлено: {{ message.create_time | date }}</p>
                        <p>Тип: {{ message.message_type }}</p>
                    </div>
                    <div class="col-1">
                        <a class='btn btn-outline-dark btn-grey'
                           href='{% url 'auth:read_message' message.slug %}?source_page=profile'>{% if message.is_read %}<i class="fas fa-check">
                        {% else %}<i class="fas fa-eye">{% endif %}</i>
                        </a>
                    </div>
                    <div class="col-12 mt-1 text-left">
                        {{ message.text | safe }}
                    </div>
                    {% if message.related_article %}
                        <div class="col-12 mt-1 text-right">
                            <a href="{% url 'articles:article_read' message.related_article.slug %}">
                                Переход к статье</a>
                        </div>
                    {% endif %}
                    {% if message.related_comment %}
                        <div class="col-12 mt-1 text-right">
                        <p><a href="{% url 'articles:article_read' message.related_article.slug %}#{{ message.related_comment.slug }}">Переход к комментарию</a></p>
                        </div>
                    {% endif %}
                </div>

            {% empty %}
                <div class="row main p-3 border border-grey mt-1 mb-1">
                    <div class="col-12 text-center">
                        К сожалению, у вас еще нет сообщений
                    </div>
                </div>

            {% endfor %}
        </div>

        <!-- Вспомогательный объект бесконечной прокрутки, может отображаться при загрузке -->
        <div class="loading" style="display: none;">
            Загрузка сообщений...
        </div>

        <!-- Вспомогательный объект бесконечной прокрутки, не отображается на экране -->
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
        {% endif %}
    </div>
    <script>
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}
