{% extends 'authnapp/profile/profile.html' %}
{% load static %}


{% block profile-content %}
    <div class="col-4 mt-2">
        <div class="row mt-2 text-center">
            <div class="col-12">
                <img class="rounded-circle mt-2" width="150px"
                     src="{% if user.avatar %} {{ user.avatar.url }} {% else %} {% static 'vendor/img/default.png' %} {% endif %}"
                     alt="">
            </div>
            <div class="col-12">
                <span class="font-weight-bold font-large">{{ user.username }}</span>
            </div>
        </div>
    </div>
    <div class="col-4 mt-2">
        <div class="card-header">
            <div class="row mt-2">
                <div class="col-12 text-center"><h6 class="underlined">Досье</h6></div>
                <div class="row mt-2">
                    <div class="col-6">Имя:</div>
                    <div class="col-6">{{ user.last_name }}</div>
                    <div class="col-6">Фамилия:</div>
                    <div class="col-6">{{ user.first_name }}</div>
                    <div class="col-6">Email:</div>
                    <div class="col-6">{{ user.email }}</div>
                    <div class="col-6">Возраст:</div>
                    <div class="col-6">{{ user.age }}</div>
                    <div class="col-6">Пол:</div>
                    <div class="col-6">{{ habruserprofile.gender }}</div>
                    <div class="col-6">Присоединился:</div>
                    <div class="col-6">{{ user.registration_time | date:"d E Y" }}</div>
                    <div class="col-6">Рейтинг:</div>
                    <div class="col-6">{{ user.likes }}</div>
                    <div class="col-6">Статус:</div>
                    <div class="col-6">
                        {% if user.is_superuser %}Администратор
                        {% elif user.is_staff %}Модератор
                        {% else %}Пользователь
                        {% endif %}
                    </div>
                    <div class="col-6">Бан до:</div>
                    <div class="col-6">{{ user.banned_until }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 mt-2">
        <div class="card-header">
            <div class="row mt-2">
                <div class="col-12 text-center"><h6>Обо мне</h6></div>
                <div class="col-12 mt-2">
                    {{ habruserprofile.aboutMe }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 text-center mt-2 mb-4">
{#        {% if user.is_stuff or user.is_superuser %}#}
{#            <input type="button" class="btn btn-block btn-grey btn-primary blacked"#}
{#                   onclick="window.location.href = '{% url 'moderation:moderation_index' %}';"#}
{#                   value="В панель модерации"/>#}
{#        {% endif %}#}
    </div>
    <div class="col-4 text-center mt-2 mb-4">
        <a class="btn btn-block btn-primary btn-grey"
           href='{% url 'auth:edit' %}'>Редактировать</a>
    </div>
    <div class="col-4 text-center mt-2 mb-4"></div>
{% endblock %}
